:root{
    --primary-color: #030303;
    --secundary-color: #b4d2f7;
    --header-size: 4rem;
    --font: 1.8rem;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color);

}
main{
    width: 100%;
    height: 70vh;
    font-size: var(--font);
}
h1{
    font-size: 4rem;
}
footer{
    width: 100vw;
    height: 15vh;
    background-color: #b4d2f7;
}