*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
    font-family:Helvetica;
}

div. {
    display: inline-block;
}

.div_2 {
    height: 50rem;
    min-width: 50rem;
    background-color: gray;
    position: absolute;
}
